.center {
    margin: auto;
    width: 40%;
    padding-top: 100px;
}

table, tr, td, th {
    border: 1px solid black;
    width: 100%;
}

#table-collapse {
    border-collapse: collapse;
}

select {
    width: 100%;
    text-align: center;
    font-size: 18px;
    padding: 9px;
}

.button {
    background-color: #4CAF50;
    border: 1px solid green;
    color: white;
    text-align: center;
    font-size: 18px;
    text-decoration: none;
    padding: 10px 24px;
    cursor: pointer;
    width: 100%;
    display: block;
}

.button:not(:last-child) {
    border-bottom: none;
}

.button:hover {
    background-color: #3e8e41;
}

.remove-button {
    background-color: firebrick;
    border: 1px darkred;
}

.remove-button:hover {
    background-color: darkred;
}

.btn-group button {
    background-color: #4CAF50;
    border: 1px solid green;
    color: white;
    padding: 10px 24px;
    cursor: pointer;
    width: 100%;
    display: block;
    font-size: 18px;
}

.btn-group button:not(:last-child) {
    border-bottom: none;
}

.btn-group button:hover {
    background-color: #3e8e41;
}
